body {
  font-family: 'Merriweather', serif;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: white;
}
h1 {
  font-weight: 600;
  font-family: 'Sacramento', cursive;
}
a {
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 14.5px;
  text-transform: uppercase;
}
h3, h2 {
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  margin: 0px ;
}
h4{
  font-family: 'Montserrat', sans-serif;
}
p{
  text-align: justify;
  font-family: 'Lucida Sans', Arial, sans-serif;
  line-height: 26px; 
  text-indent: 30px; 
}
hr{
  max-width: 720px;
  background-color: #72aaa4;
        width: 55%;
        height: 5px;
        border: 1.5px solid ;

        padding: -20px;
        border-radius: 30px;
}
.first{
  color: white;
  background-image: url("../pics/wp1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.big-nav-container{

  display: flex;
  justify-content: center;
}
.big-welcome-container{
  padding-bottom: 85px;
  margin-bottom: -160px;
  display: flex;
  justify-content: center;
}
.big-department-container{
  color: black;
  display: flex;
  justify-content: center;
}
.big-about-container{
  display: flex;
  justify-content: center;
}
.big-bot-container{
  color: white;
      background-color: black;
  display: flex;
  justify-content: center;
}
.cont{
  max-width: 1440px;
}
.nav {
  max-width: 1440px;
  top: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
#nav-bar-title {
  padding: 5px;
  margin: 5px;
}

.navigation-bar {
  margin: 3px;
  display: flex;
  justify-content: space-around;
}
.nav-text{
  margin: 5px;
  padding: 2px;
}
.navigation-items:hover {
  background-color: white;
  color: black;
}

.navigation-items {
  margin-left: 10px;
  padding: 5px;
}

.welcome {
  max-width: 1440px;
  padding: 8%;
}

.welcome-title {
  color: white;
  margin: 0px;
  font-size: 400%;
}

.enpoLogo
{
  margin: 5px;
  border:  3px solid black;
  border-radius: 180px;
  width: 280px;
  height: 280px;
}
.about-pic{
  margin: 5px;
  border: 3px solid black;
}

#about-container p {
  
  margin-right:590px;
    margin-left:300px;
    text-align: justify;
}

#about-container img {
  border-radius: 20px;
  border:3.5px solid #528a8a;
  
  margin-left: 590px;
  margin-top: -800px;
}

#department-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.GE {
  color: black;
  background-image: url("../pics/enpoLogo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3% 5% 0px 5%;
  border: 3px solid;
  height: 200px;
  width: 300px;

}

.GS {
  color: black;
  background-image: url("../pics/enpoLogo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3% 5% 0px 5%;
  border: 3px solid;
  height: 200px;
  width: 300px;

}

.GM {
  color: black;
  background-image: url("../pics/enpoLogo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3% 5% 0px 5%;
  border: 3px solid;
  height: 200px;
  width: 300px;

}

.GI {
  color: black;
  background-image: url("../pics/enpoLogo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3% 5% 0px 5%;
  border: 3px solid;
  height: 200px;
  width: 300px;

}

.GP {
  color: black;
  background-image: url("../pics/enpoLogo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3% 5% 0px 5%;
  border: 3px solid;
  height: 200px;
  width: 300px;

}

.GC {
  color: black;
  background-image: url("../pics/enpoLogo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3% 5% 0px 5%;
  border: 3px solid;
  height: 200px;
  width: 300px;

}

.CPST {
  color: black;
  background-image: url("../pics/enpoLogo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid;
  height: 200px;
  width: 300px;

}

.dp {
  margin: 3% 5% 0px 5%;
}

.footer-link {
  margin: 5px 15px 5px 15px;
}

.copyright {
  padding-bottom: 10px;
  margin-block-end: 0px;
}

.bot-container {
  max-width: 1440px;
}
