*{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 25px;
}
body{
    background-color: #caf7e3;
    text-align: center;
    font-family: arial;
}
nav{
    
    top: 0px;
    width: 100%;
    height: 92px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    padding:0px;
    background-color: #a5e1ad;
    position: fixed;
    
    }
    nav .menu{
        position:absolute;
        left: 55%;
        top: 5%;
    
    }
    ul li{
        display: inline-block;
        float: left;
        padding: 25px 35px;
    
    }
    ul li a{
        text-decoration: none;
        font-size: 18px;
        font-family: oswald;
        text-transform: uppercase;
        color: black;
    
    }
    ul li a:hover{
        color:#ffd56b;
        
    }
    hr{
        background-color: #72aaa4;
        width: 55%;
        height: 5px;
        border: 1.5px solid ;
        margin: 1em 22%;
        padding: 0;
        border-radius: 30px;
    }
    .welcome{
        background-color:#a5e1ad;
        
        padding: 8%;
        margin-top: 67px;
        margin-bottom: -130px;
    }
    .welcome-img{
        border-radius: 20px;
    }

    h1,h2{
            color:#282828;
        font-family: 'Trocchi', serif;
        font-size: 38px; 
        font-weight: normal; line-height: 48px; 
    }
    p{
        color: black; 
        font-family: 'Lucida Sans', Arial, sans-serif; 
        font-size: 15px; 
        line-height: 26px; 
        text-indent: 30px; 
        font-weight: normal;
    }
#about-container p{
    margin-right:800px;
    margin-left:300px;
    text-align: justify;
}
#about-container img {
    border-radius: 20px;
    margin-left: 600px;
    margin-top: -1800px;
    
}

    
    